.form-container {
    width: 80%;
}
.submit-btn{
    margin-top: 7vh;
}
.submit-btn button{
    width: 45%;
}

@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.form-logo {
    width: 8vw;
}

.main-signup{
    margin-bottom: 40% ;
}
.password-not-same{
    font-size: 0.8rem;
    font-weight: bold;
    color: red;
}