<app-main-nav></app-main-nav>
<!-- Section: Design Block -->
<!-- <section class="text-center">
  <div class="p-5 bg-image" style="
  background-image: url('../../assets/mainimage4.jpg');
  height: 300px;
  "></div>
</section> -->
<div class="p-5 bg-image" style="
  background-image: url('../../../assets/mainimage4.jpg');
  height: 300px;
  "></div>

<main class="main-signup" *ngIf="OnAnser()">
  <section class="h-10 gradient-form" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-20">
          <div class="card rounded-3 text-black">
            <div class="row  form-container ">
              <div class="col-lg-30">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img class="form-logo" src="../../../assets/logo.png" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1"> Cantinière</h4>
                  </div>
  

                  <div class="register-form">
                    <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <label>Nom </label>
                        <input
                          type="text"
                          formControlName="fullname"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
                          placeholder="Votre Nom "
                        />
                        <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                          <div *ngIf="f['fullname'].errors['required']"> Nom  est requis </div>
                          <div *ngIf="f['fullname'].errors['maxlength']">
                            votre Nom  doit pas dépasser 16 characters
                          </div>
                        </div>
                      </div>
                  
                      <div class="form-group">
                        <label>Prénom </label>
                        <input
                          type="text"
                          formControlName="username"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                          placeholder="Votre Prénom"
                        />
                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                          <div *ngIf="f['username'].errors['required']">Prénom est requis </div>
                          <div *ngIf="f['username'].errors['minlength']">
                            Votre Prénom  doit contenir au moins 3  characters
                          </div>
                          <div *ngIf="f['username'].errors['maxlength']">
                            votre Prénom  doit pas dépasser 20 characters
                          </div>
                        </div>
                      </div> 
                  
                      <div class="form-group">
                        <label>Email</label>
                        <input
                          type="text"
                          formControlName="email"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                          placeholder="Votre Email : exmple@social.aston-ecole.com"
                        />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                          <div *ngIf="f['email'].errors['required']">Email est requis</div>
                          <div *ngIf="f['email'].errors['email']">Email est requis</div>
                          <div *ngIf="f['email'].errors['pattern']">Email doit terminer ...@social.aston-ecole.com </div>
                        </div>
                        <div *ngIf="submitted">
                          <div *ngIf="existingUserEmail">Email Existe daja </div>
                        </div>
                      </div>

       
                       <div class="form-group">
                        <label> Date de Naissance</label>
                        <input 
                         type="date"
                         formControlName="birthday"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f['birthday'].errors }"
                         />

                         <div *ngIf="submitted && f['birthday'].errors" class="invalid-feedback">
                          <div *ngIf="f['birthday'].errors['required']"> date de naissace est requis </div>
                        </div>
                       </div>
                      
                       <div class="form-group">
                        <label>Mot de Passe</label>
                        <input
                          type="password"
                          formControlName="password"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                        />
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                          <div *ngIf="f['password'].errors['required']">mot de passse est requis </div>
                          <div *ngIf="f['password'].errors['minlength']">
                            Mot de passe doit contenir au moins 6 characters
                          </div>
                          <div *ngIf="f['password'].errors['maxlength']">
                            Le mot de passe doit pas dépasser 40  characters
                          </div>
                        </div>
                      </div>
                  
                      <div class="form-group">
                        <label>Confirmation Mot de passe </label>
                        <input
                          type="password"
                          formControlName="confirmPassword"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                        />
                        <div
                          *ngIf="submitted && f['confirmPassword'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f['confirmPassword'].errors['required']">
                            Confirmation Mot de passe  est requis
                          </div>
                          <div *ngIf="f['confirmPassword'].errors['matching']">
                            les mots de passe ne correspondent pas
                          </div>
                        </div>
                      </div>
                  
                      <div class="form-group form-check">
                        <input
                          type="checkbox"
                          formControlName="acceptTerms"
                          class="form-check-input"
                          [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
                        />
                        <label for="acceptTerms" class="form-check-label"
                          > j'ai lu les conditions Générale d'utilisation</label
                        >
                        <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
                           Veuillez Acceptez Les conditions d'utilisation 
                        </div>
                      </div>
                  
                      <div class="center  submit-btn ">
                        <button type="submit" class="btn btn-primary">S'inscrire </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 </main>
 
<main *ngIf="!OnAnser() && !getauthError()" style="margin: 10vh auto 15vh auto  ;"  >
  <div class="card text-center" style="border: none;">
    <img src="../../../assets/checked.png"  alt="checked image registration "
    style="width : 17rem ;  margin: auto; padding: auto;">
    <div class="card-body">
      <h2 class="card-title" style="color: rgb(60, 130, 235);" > Votre Inscription est Bien Enregistré </h2> <br>
      <a href="#" class="btn btn-primary">Je me connecte </a>
    </div>
  </div>
</main>   

<main *ngIf="!OnAnser() && getauthError()" style="margin: 10vh auto 15vh auto  ;"  >
  <div class="card text-center" style="border: none;">
    <img src="../../../assets/unckecked.png"  alt="checked image registration "
    style="width : 17rem ;  margin: auto; padding: auto;">
    <div class="card-body">
      <h2 class="card-title" style="color: rgb(201, 12, 12);" >  Erreur D'inscription  </h2> <br>
      <div class="error-message">
              <p> Votre Inscription n'a pas pu  etre prise en  compte Veuillez Réessayer Plus tard  </p>
                <p> Ou Contactez  Les Services Admistratives  </p>
      </div>
      <a href="#" class="btn btn-primary"> Vers l'acceuille </a>
    </div>
  </div>
</main>  

<app-main-footer></app-main-footer>
