
<app-main-nav></app-main-nav>
<div class="p-5 bg-image" style="
   background-image: url('../../../assets/mainimage4.jpg');
    height: 300px;
    "></div>
      <h1 class="center">  Nos  Plats </h1>

      <div class="center" style="width: 50%; transform: translateX(50%);  ">
            <form class="d-flex">
                   <input class="form-control form-control-lg" type="text" placeholder=" Je cherche Un  Plat " aria-label=".form-control-lg example"> 
                  <button class="btn" type="submit"  style="width: 30%;">Search</button>
               </form>
      </div>
  

      <div *ngIf="user.role=='admin'" class="btn-add center ">
            <button  (click)="addMeal()"  class="btn"> j'ajoute un plat </button>
      </div>

      <div class="container">
            <div class="row">
                 
                   <div *ngFor=" let meal of meals " class="col m4 s6">
                        <div class="card horizontal ">
                          <div class=" center ">
                               <img  class="card-image"  src =   {{meal.image}}  alt="">  
                              </div>
                          <div class="card-stacked">
                              <div class="card-content">
                                    <span>{{meal.label}}</span> <br>
                                    <span>{{meal.categorie}}</span>
                                    <p><small>{{meal.description}} </small></p>
                                    <p>  prix :   {{meal.prixht}} £ </p>
                              </div>
                        </div>
                             <div class="meal-handler center" style="margin-bottom:5% ;">
                                   <button *ngIf="(user.role == 'admin'  &&   user.token != undefined )" class=" btn"  (click)="editmeal( meal.id )"> Modifier Le Plat </button>
                                   <button *ngIf=" user.role!= 'admin' " class=" btn"  (click)="addToBascket ( meal )"> Ajouter Au Panier </button>
                              </div>
                      </div>
                   </div>
            </div>
      </div>
 
<app-main-footer></app-main-footer>