
<app-main-nav></app-main-nav>
<div class="p-5 bg-image" style="
   background-image: url('../../../assets/mainimage4.jpg');
    height: 300px;
    "></div>
      <h1 class="center">  Nos  Plats </h1>
      <div *ngIf="role=='admin'" class="btn-add center ">
            <button  (click)="addMeal()"  class="btn"> j'ajoute un plat </button>
      </div>

      <div class="container">
            <div class="row">
                 
                   <div *ngFor=" let meal of meals " class="col  m4  s6">
                        <div class="card horizontal ">
                          <div class=" center ">
                               <img  class="card-image" [src]= meal.image.image   alt=""> 
                              </div>
                          <div class="card-stacked">
                              <div class="card-content">
                                    <span>{{meal.label}}</span> <br>
                                    <span>{{meal.categorie}}</span>
                                    <p><small>{{meal.description}} </small></p>
                                    <p>  prix :   {{meal.prixht}} £ </p>
                              </div>
                        </div>
                             <div class="meal-handler center" style="margin-bottom:5% ;">
                                   <button *ngIf="role == 'admin'" class=" btn"> Modifier Le Plat </button>
                                   <button *ngIf="role != 'admin'" class=" btn"> Ajouter Au Panier </button>

                              </div>

                      </div>
                   </div>
            </div>
      </div>
 
<app-main-footer></app-main-footer>