 <app-main-nav></app-main-nav>
 <div class="p-5 bg-image" style="
 background-image: url('../../../assets/mainimage4.jpg');
 height: 300px;
 "></div>



 <main class="main-signup" >
    <section class="h-10 gradient-form" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-20">
            <div class="card rounded-3 text-black">
            
              <div class="text-center">
                <img class="text-center" src="../../../assets/logo.png" alt="logo">
                <h3 class="mt-1 mb-5 pb-1"> {{user.username}} {{user.userfname}} </h3>
              </div>
              <div class="row container-form">
                <div class="col-lg-6   ">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="register-form">
                      <form [formGroup]="userinfo" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <label>Nom </label>
                          <input 
                            value="{{user.userfname}}"
                            type="text"
                            formControlName="fullname"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
                          />
                          <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                            <div *ngIf="f['fullname'].errors['required']"> Nom  est requis </div>
                            
                            <div *ngIf="f['fullname'].errors['maxlength']">
                              votre Nom  doit pas dépasser 16 characters
                            </div>
                          </div>
                        </div>
                    
                        <div class="form-group">
                          <label>Prénom </label>
                          <input
                            value="{{user.username}}"
                            type="text"
                            formControlName="username"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                          />
                          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors['required']">Prénom est requis </div>
                            <div *ngIf="f['username'].errors['minlength']">
                              Votre Prénom  doit contenir au moins 3  characters
                            </div>
                            <div *ngIf="f['username'].errors['maxlength']">
                              votre Prénom  doit pas dépasser 20 characters
                            </div>
                          </div>
                        </div> 
                         <div class="form-group">
                          <label> Date de Naissance</label>
                          <input 
                          value="{{user.birthday}}"
                           type="date"
                           formControlName="birthday"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f['birthday'].errors }"
                           />
                           <div *ngIf="submitted && f['birthday'].errors" class="invalid-feedback">
                            <div *ngIf="f['birthday'].errors['required']"> date de naissace est requis </div>
                          </div>
                         </div>
                    
                         <div class="btn-changes align-items-center justify-content-center pb-4 btns ">
                           <div class="form-group d-flex ">
                             <button  *ngIf="change==false"  (click)="modifyProfile()" type="submit" class="btn "> Modifier Mon Profile  </button>
                             <button *ngIf="change==true" (click)="validation()" type="submit" class="btn btn-validate" > Je Valide   </button>
                            </div>
                            <div class="form-group d-flex">
                              <button (click)="deconnexion()" type="submit" class="btn btn-password"> changer  le mot passe  </button>
                            </div>
                        </div>


                      </form>
                    </div>
                  </div>
                </div>
                  
                <div class="col-lg-6 d-flex  flex-column align-items-center  justify-content-center  content  ">
                 
                  <div class="content-credit ">
                    <label class="title-credit" for="credit" > Mon Crédit :</label>
                    <input class="input-credit" type="text" name="credit"  value="{{user.credit}} £"  disabled/>
                  </div>
              
                  <div class="content-email  ">
                    <label class="title-email" for="email" > Email :</label>
                    <input class="input-email" type="email" name="email"  value="{{user.email}}" disabled/>
                  </div>
                       <button class=" btn  btn-primary"> Changer Mon Email </button>

                </div>

              </div>
              <div class=" d-flex align-items-center justify-content-center ">
                <button  (click)="deconnexion()"   class="btn btn-primary"> Deconnexion </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   </main>
   



 <app-main-footer></app-main-footer>