 .container-form{
    width: 60vw;
 }
 label {
       font-size: 1rem;
       color: rgb(51, 46, 46);
 }
 .btns {
     margin-top: 10%;
 }
 .btn-password{
    margin-top: 20px;
}
.btn-validate{
   margin: auto;
}

.input-credit{
   color: black;
}