.password-forget{
 margin: 10%;
 border: 1px  solid rgb(140, 153, 199);
 padding: 5%;
 background-color: aliceblue;
 border-radius: 5%;
}
.form-group{
  width: 40vw;
  margin-left: 15vw;
  margin-top: 4%;
  margin-bottom: 4%;
}

.password-forget-img{
    width: 15%;
    border-radius: 50%;
}