<app-main-nav></app-main-nav>
<div class="p-5 bg-image" style="
  background-image: url('../../../assets/mainimage4.jpg');
  height: 300px;
  "></div>

<div *ngIf="chagepasswordComponent==false && !usercodecompenet" class="password-forget  center">
  <img src="./../../../assets/password.jpg" alt="password-forget" class="password-forget-img">
  <h4> Veuillez Saissir Votre Email </h4>
  <form [formGroup]="emailFrom" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email est requis</div>
        <div *ngIf="f['email'].errors['pattern']"> Email Invalide </div>
      </div>
      <div *ngIf="usernotfound" style="color: red;">Utilisateur Introuvable </div>
    </div>
    <div *ngIf="!isLoading">
      <button type="submit" class="btn"> envoyer </button>
    </div>
    <div *ngIf="isLoading" class="loading-icon">
      <i class="fas fa-spinner fa-spin" style="font-size: 2.5em;  padding-top:10px ;"></i>

    </div>
  </form>
</div>

<div *ngIf="chagepasswordComponent==false && usercodecompenet != undefined  && usercodecompenet == true "
  class="password-forget  center">
  <img src="./../../../assets/password.jpg" alt="password-forget" class="password-forget-img">
  <h5> Saissisez Le code Envoyer à {{emailFrom.controls["email"].value}} </h5>
  <form [formGroup]="codeForm" (ngSubmit)="onSendcode()">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="number" formControlName="code" class="form-control"
        [ngClass]="{ 'is-invalid': validate && g['code'].errors }" />

      <div *ngIf="validate && g['code'].errors" class="invalid-feedback">
        <div *ngIf="g['code'].errors['required']"> code est requis</div>
        <div *ngIf="g['code'].errors['pattern']"> Le Code est coposé uniquement De Nombre </div>
        <div *ngIf="incorrectCode"> code Est Incorrecte </div>
      </div>
    </div>
    <button class="btn"> Envoyer </button>
  </form>
</div>



<div *ngIf="chagepasswordComponent==true   && usercodecompenet == false " class="password-forget  center">
  <img src="./../../../assets/password.jpg" alt="password-forget" class="password-forget-img">
  <h5>    Veuillez Modifiez  Votre Mot Passe  </h5>
  <form [formGroup]="changePassword" (ngSubmit)="onSendpassword()">
   
    <div class="form-group">
      <label for="newpassword">Nouveau Mot de passe </label>
      <input type="password" formControlName="newpassword" class="form-control"
        [ngClass]="{ 'is-invalid': login && h['newpassword'].errors }" />
      <div *ngIf="login && h['newpassword'].errors" class="invalid-feedback">
        <div *ngIf="h['newpassword'].errors['required']"> Le Mot De Passe est requis</div>
        <div *ngIf="h['newpassword'].errors['minlength']">
          Mot de passe doit contenir au moins 6 characters
        </div>
        <div *ngIf="h['newpassword'].errors['maxlength']">
          Le mot de passe doit pas dépasser 40 characters
        </div>
      </div>
    </div>


    <div class="form-group">
      <label>Confirmation de Nouveau Mot de passe </label>
      <input
        type="password"
        formControlName="confirmnewPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': login && h['confirmnewPassword'].errors }"
      />
      <div
        *ngIf="login && h['confirmnewPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="h['confirmnewPassword'].errors['required']">
          Confirmation Mot de passe  est requis
        </div>
        <div *ngIf="h['confirmnewPassword'].errors['matching']">
          les mots de passe ne correspondent pas
        </div>
      </div>
    </div>



    <button class="btn"> Valider  Les  Changement  </button>
  </form>
</div>






<app-main-footer></app-main-footer>