<app-main-nav></app-main-nav>
<main>
  <header>
    <div class="text-main">
      <p> <span class="text-main-title">Cantinière </span> <br> Commandez vos repas <span
        class="text-main-important">rapidement</span> et en toute <span class="text-main-important">sécurité </span>
      </p>
    </div>
  </header>

  <section class="available merriweather pu-5  menu">
    <div class="container">
      <div class="row">
        <div class="card mb-3 rounded-0">
          <div class="row">
            <div class="col-md-3">
              <img src="../../assets/menu.jpg" class="img-fluid rounded-start" alt=" Menu " width="250vh">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title"> Nos Menus ! 😋</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button  (click)="gotomenus()" class="card-text"><small class="text-muted btn "> voir les  menus > > >  </small></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="available merriweather pu-5  menu">
    <div class="container">
      <div class="row">
        <div class="card mb-3 rounded-0">
          <div class="row">

           
        
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title"> Nos  Plats  ! 😋</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button (click)="gotomeals()" class="card-text"><small class="text-muted btn "> voir les Plats > > >  </small></button>
              </div>
            </div>
      
            <div class="col-md-3">
              <img src="../../assets/plat.jpg" class="img-fluid rounded-start" alt=" plats " height="100vw">
            </div>
      
      
          </div>
        </div>
      </div>
    </div>
  </section>






</main>
<app-main-footer></app-main-footer>