.gradient-custom-2 {
    background: url('../../../assets/form-login.jpg') no-repeat   ;
}

.btn-login{
    margin-top: 5%;
  width: 50%;   
}
    
 @media (min-width: 768px) {
 .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.form-logo {
    width: 5vw;
}
