<app-main-nav></app-main-nav>
<main class="main-signup">
    <section class="h-10 gradient-form" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-20">
            <div class="card rounded-3 text-black">
              <div class="row  form-container ">
                <div class="col-lg-30">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                        <img class="form-logo" src="../../../assets/logo.png" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1"> Cantinière</h4>
                      </div>
                             <h5 class="center"> Je  modifie Le plat   </h5>

    </div>
    </div>
    </div>
    </div>
    </div>
   </div>
   </div>


