

<footer class="bg-dark  text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row  text-center text-md-left">
            <div class="col-md-4 col-lg-3  col-xl-3 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Contacts </h5>
                <p>
                    <i class="fas fa-home mr-3"></i> 19-21 Rue du 8 Mai 1945, 94110 Arcueil
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> yahiaouihlm@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>+33 06 31 99 80 01
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> +01 12 12 01 21
                </p>
            </div>
                
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight text-warning"> About SQLI</h5>
                <p>Créé en 1990, SQLI est un groupe européen de services digitaux qui accompagne les grandes marques
                    internationales dans la création de valeur par le Digital.
                    <a href="https://www.sqli.com/fr-fr" target="_blank">Know More About SQLi ! </a>
                </p>
            </div>
         
         <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight text-warning"> About Aston</h5>
            <p>est un centre de formation pour apprentis qui accompagne et forme depuis 11 ans aux métiers du Digital et de l’Informatique : Systèmes Réseaux, Développement, Sécurité informatique et Transformation Digitale Ouvertes aux étudiants comme aux personnes ayant un projet de reconversion professionnelle, les rentrées sont réalisables tout au long de l’année
                <a href="https://www.aston-ecole.com/" target="_blank">Know More About Aston School ! </a>
            </p>
        </div>

        



        </div>






        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>Copyright @2022 All rights reserved By :
                    <a href="#" style="text-decoration: none;"> <strong class="text-warning">SQLI </strong>
                    </a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4 ">
                <div class=" text-center text-md-right ">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;"> <i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;"> <i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;"> <i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;"> <i
                                    class="fa-brands fa-linkedin"></i></a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;"> <i
                                    class="fab fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- https://www.youtube.com/watch?v=4fexoLuGpeI -->