<!-- Pour les fonts de google awsome  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="Logo Cantinière" class="d-inline-block align-text-top">
      <!-- <span class="logo-title">Aston By SQLI </span> -->
    </a>


    <a class="navbar-brand" href="#"> <strong class="logo-title">Cantinière</strong> <br><span class="middle-title">By
        SQLI</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-container">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> Menus </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Plats</a>
        </li>

      </ul>


      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example"> -->
        <button class="btn btn-outline-success btn-search" type="submit">Search</button>
      </form>



      <div class="nav-btns">

        <button type="button" class="btn btn-panier">Mon Panier <i class="fa-solid fa-cart-shopping"></i></button>
        <button type="button" class="btn  btn-connexion" (click)="goToSignIn()">Connexion <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>

      </div>

    </div>
  </div>
</nav>